---
layout: none
---

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Grid Item Animation Layout - Demo 1</title>
		<meta name="description" content="A responsive, magazine-like website layout with a grid item animation effect when opening the content" />
		<meta name="keywords" content="grid, layout, effect, animated, responsive, magazine, template, web design" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		{% include head.html %}
	</head>
	<body>
		<div class="container">
			<button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
			{% include sidebar.html %}
			<div id="theGrid" class="main">
				<section class="grid">
					<header class="top-bar">
						<h2 class="top-bar__headline">Latest articles</h2>
						<div class="filter">
							<span>Filter by:</span>
							<span class="dropdown">Popular</span>
						</div>
					</header>
					
					{% for post in site.posts %}
						<a class="grid__item" href="#">
							<h2 class="title title--preview">{{ post.title }}</h2>
							<div class="loader"></div>
							<span class="category">{{ post.categories }}</span>
							<div class="meta meta--preview">
								<img class="meta__avatar" src="http://tympanus.net/Development/AnimatedGridLayout/img/authors/1.png" alt="author01" /> 
								<span class="meta__date"><i class="fa fa-calendar-o"></i> 9 Apr</span>
								<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 3 min read</span>
							</div>
						</a>
					{% endfor %}

					<footer class="page-meta">
						<span>Ver más...</span>
					</footer>
				</section>
				
				
				
				<section class="content">
					<div class="scroll-wrap">
						
						{% for post in site.posts %}
							<article class="content__item">
								<span class="category category--full">Stories for humans</span>
								<h2 class="title title--full">On Humans &amp; other Beings</h2>
								<div class="meta meta--full">
									<img class="meta__avatar" src="http://tympanus.net/Development/AnimatedGridLayout/img/authors/1.png" alt="author01" />
									<span class="meta__author">Matthew Walters</span>
									<span class="meta__date"><i class="fa fa-calendar-o"></i> 9 Apr</span>
									<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 3 min read</span>
								</div>
						</article>
						{% endfor %}
					</div>
					<button class="close-button"><i class="fa fa-close"></i><span>Close</span></button>
				</section>
			</div>
		</div><!-- /container -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
		<script type="text/javascript">
			$(document).on('click', '.grid__item', function(){
				console.log('Text clicked');
				$.get( "https://jekyll-sakyastelios-1.c9users.io/jekyll/update/2016/02/19/welcome-to-jekyll.html", function( data ) {
					var w = $(data).find('.content__item--show');
					console.log(w.html());
					$( ".content__item" ).html(w.html());
				});
			});
		</script>
	</body>
</html>
