<!DOCTYPE html>
<html lang="es" class="no-js">
	<head>
		{% include new-head.html %}
	</head>
	<body>
		<div class="container">
			<button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
			{% include sidebar.html %}
			<div id="theGrid" class="main">
				<section class="grid">
					<header class="top-bar">
						<h2 class="top-bar__headline">Últimos artículos</h2>
						<div class="filter">
							<span>Ordenar por:</span>
							<span class="dropdown">Fecha</span>
						</div>
					</header>
					
					{% for post in site.posts %}
						<a class="grid__item" href="#" data-url="{{ post.url }}">
							<h2 class="title title--preview">{{ post.title }}</h2>
							<div class="loader"></div>
							<span class="category">{{ post.categories }}</span>
							<div class="meta meta--preview">
								<img class="meta__avatar" src="http://tympanus.net/Development/AnimatedGridLayout/img/authors/1.png" alt="author01" /> 
								<span class="meta__date"><i class="fa fa-calendar-o"></i>{{ page.date | date: "%b %-d, %Y" }}</span>
								<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 3 min read</span>
							</div>
						</a>
					{% endfor %}

					<footer class="page-meta">
						<span>Ver más...</span>
					</footer>
				</section>
				
				
				
				<section class="content">
					<div class="scroll-wrap">
						
						{% for post in site.posts %}
							<article class="content__item">
								<span class="category category--full">Cargando título...</span>
								<h2 class="title title--full">Cargando categoría...</h2>
								<div class="meta meta--full">
									<img class="meta__avatar" src="http://tympanus.net/Development/AnimatedGridLayout/img/authors/1.png" alt="author01" />
									<span class="meta__author">Cargando autor...</span>
									<span class="meta__date"><i class="fa fa-calendar-o"></i>Cargando fecha...</span>
									<span class="meta__reading-time"><i class="fa fa-clock-o"></i>Cargando TTR</span>
								</div>
						</article>
						{% endfor %}
					</div>
					<button class="close-button"><i class="fa fa-close"></i><span>Cerrar</span></button>
				</section>
			</div>
		</div><!-- /container -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
		<script type="text/javascript">
			$(document).on('click', '.grid__item', function(){
				console.log('Text clicked');
				var url = location.origin + $(this).data('url');
				console.log('Trayendo la url: ', url);
				$.get( url, function( data ) {
					var w = $(data).find('.content__item--show');
					console.log(w.html());
					$( ".content__item" ).html(w.html());
				});
			});
		</script>
	</body>
</html>
