<!DOCTYPE html>
<html lang="es" class="no-js">
	<head>
		{% include new-head.html %}
	</head>
	<body>
		<div class="container">
			<button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
			{% include sidebar.html %}
			<div id="theGrid" class="main">
				<section class="grid">
					<header class="top-bar">
						<h2 class="top-bar__headline">Últimos artículos</h2>
						<div class="filter">
							<span>Ordenar por:</span>
							<span class="dropdown">Fecha</span>
						</div>
					</header>
					
					{% for post in paginator.posts %}
						<a class="grid__item" href="#" data-url="{{ post.url }}">
							<h2 class="title title--preview">{{ post.title }}</h2>
							<div class="loader"></div>
							<span class="category">{{ post.categories }}</span>
							<div class="meta meta--preview">
								<img class="meta__avatar" src="http://www.maytok.com/img/profile-photo.jpg" alt="author"  height="45" width="45" /> 
								<span class="meta__date"><i class="fa fa-calendar-o"></i><time class="timeago" datetime="{{ post.date | date_to_xmlschema }}">Cargando...</time></span>
								<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 3 min de lectura</span>
							</div>
						</a>
					{% endfor %}

					<footer class="page-meta">
						<!-- Pagination links -->
						<div class="pagination">
						  	{% if paginator.previous_page %}
						    	<a href="{{ paginator.previous_page_path }}" class="previous">Anterior</a>
						  	{% else %}
						    <span class="previous">Anterior</span>
						  	{% endif %}
						  	<span class="page_number ">Pág: {{ paginator.page }} de {{ paginator.total_pages }}</span>
						  	{% if paginator.next_page %}
						    	<a href="{{ paginator.next_page_path }}" class="next">Sig.</a>
						  	{% else %}
						    	<span class="next ">Sig.</span>
						  	{% endif %}
						</div>
					</footer>
				</section>
				
				<section class="content">
					<div class="scroll-wrap">
						
						{% for post in paginator.posts %}
							<article class="content__item">
								<span class="category category--full">Cargando título...</span>
								<h2 class="title title--full">Cargando categoría...</h2>
								<div class="meta meta--full">
									<img class="meta__avatar" src="https://robohash.org/Khan" height="45" width="45" />
									<span class="meta__author">Cargando autor...</span>
									<span class="meta__date"><i class="fa fa-calendar-o"></i>Cargando fecha...</span>
									<span class="meta__reading-time"><i class="fa fa-clock-o"></i>Cargando TTR...</span>
								</div>
						</article>
						{% endfor %}
					</div>
					
					<button class="close-button"><i class="fa fa-close"></i><span>Cerrar</span></button>
				</section>
			</div>
		</div><!-- /container -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/jquery.timeago.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/jquery.readingTime.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/prism.js" | prepend: site.baseurl }}"></script>
		<script type="text/javascript">
			$(document).on('click', '.grid__item', function(){
				console.log('Text clicked');
				var semiurl =  $(this).data('url');
				var url = location.origin + $(this).data('url');
				console.log('Trayendo la url: ', url);
				$.get( url, function( data ) {
					var w = $(data).find('.content__item--show');
					$( ".content__item" ).html(w.html());
					//Higlight all
					Prism.highlightAll();
					//Replacing the url
					var stateObj = { foo: "bar" };
					window.history.pushState(stateObj, "page 2", semiurl);
					//Fill the reading time
					$('#post-content').readingTime();
					//Fill the timeago
					$("time.timeago").timeago();
				});
			});
		</script>
		<script type="text/javascript">
			$(document).on('click', '.close-button', function() {
				console.log('Cerrando post');
				window.history.back();
			});
			jQuery(document).ready(function() {
    			$("time.timeago").timeago();
   			});
		</script>
	</body>
</html>
