<!DOCTYPE html>
<html lang="es" class=" js csstransitions">

<head>
	{% include new-head.html %}
</head>

<body class="view-single noscroll">
	<div class="container">
		<button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
		{% include sidebar.html %}
		<div id="theGrid" class="main">
			<section class="grid">
				<header class="top-bar">
					<h2 class="top-bar__headline">Latest articles</h2>
					<div class="filter">
						<span>Filter by:</span>
						<span class="dropdown">Popular</span>
					</div>
				</header>
				<a class="grid__item grid__item--loading grid__item--animate" href="#">
					<h2 class="title title--preview">On Humans &amp; other Beings</h2>
					<div class="loader"></div>
					<span class="category">Stories for humans</span>
					<div class="meta meta--preview">
						<img class="meta__avatar" src="http://www.maytok.com/img/profile-photo.jpg" alt="author">
						<span class="meta__date"><i class="fa fa-calendar-o"></i> 9 Apr</span>
						<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 3 min read</span>
					</div>
				</a>
				<footer class="page-meta">
					<span>Cargar más...</span>
				</footer>
				<div class="placeholder placeholder--trans-out" style="transform: translate3d(-5px, -5px, 0px);"></div>
			</section>
			<section class="content content--show" style="top: 0px;">
				<div class="scroll-wrap">
					<article class="content__item content__item--show" id="post-content">
						<span class="category category--full">{{ page.categories }}</span>
						<h2 class="title title--full">{{ page.title }}</h2>
						<div class="meta meta--full">
							<img class="meta__avatar" src="http://www.maytok.com/img/profile-photo.jpg" alt="author"  height="45" width="45" />
							<span class="meta__author">{{ page.author }}</span>
							<span class="meta__date"><i class="fa fa-calendar-o"></i><time class="timeago" datetime="{{ page.date | date_to_xmlschema }}">Cargando...</time></span>
							<span class="meta__reading-time"><i class="fa fa-clock-o"></i>{{ content | readtime }}</span>
						</div>
						{{ content }}
					</article>
				</div>
				<button class="close-button close-button--show"><i class="fa fa-close"></i><span>Cerrar</span></button>
			</section>
		</div>
	</div>
	<!-- /container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/jquery.timeago.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/prism.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
    		$("time.timeago").timeago();
   		});
	</script>
</body>

</html>
